In [115]:
import pandas as pd
data = pd.read_csv("aapl.txt")

In [116]:
data['Date'] = pd.to_datetime(data['Date'],format='%Y-%m-%d')

In [117]:
data = data.loc[data['Date'] >= '2013-01-01']

In [118]:
data.head()

           Date    Open    High     Low   Close     Volume  OpenInt
7138 2013-01-02  71.553  71.705  69.978  70.935  154865509        0
7139 2013-01-03  70.745  71.017  69.896  70.039   97488400        0
7140 2013-01-04  69.375  69.591  67.936  68.088  164191192        0
7141 2013-01-07  67.446  68.386  66.566  67.689  133721724        0
7142 2013-01-08  68.375  68.721  67.346  67.871  126651168        0

In [119]:
data.index = data['Date']

In [120]:
data = data.sort_index(ascending=True, axis=0)

In [121]:
data.head()

                 Date    Open    High     Low   Close     Volume  OpenInt
Date
2013-01-02 2013-01-02  71.553  71.705  69.978  70.935  154865509        0
2013-01-03 2013-01-03  70.745  71.017  69.896  70.039   97488400        0
2013-01-04 2013-01-04  69.375  69.591  67.936  68.088  164191192        0
2013-01-07 2013-01-07  67.446  68.386  66.566  67.689  133721724        0
2013-01-08 2013-01-08  68.375  68.721  67.346  67.871  126651168        0

In [122]:
data['day_of_week'] = data['Date'].dt.dayofweek

In [123]:
#new_data = new_data[['Date','Close','day_of_week']]

In [124]:
train = data[:'2016-12-31']

In [125]:
train['date_ordinal'] = train['Date'].apply(lambda date: date.toordinal())

C:\Users\priya\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [126]:
train =train.drop('Date',axis=1)

In [127]:
x_train = train.drop('Close',axis=1)

In [128]:
y_train = train['Close']

In [129]:
x_train.head()

,Open,High,Low,Volume,OpenInt,day_of_week,date_ordinal
Date,,,,,,,
2013-01-02,71.553,71.705,69.978,154865509,0,2,734870
2013-01-03,70.745,71.017,69.896,97488400,0,3,734871
2013-01-04,69.375,69.591,67.936,164191192,0,4,734872
2013-01-07,67.446,68.386,66.566,133721724,0,0,734875
2013-01-08,68.375,68.721,67.346,126651168,0,1,734876

In [130]:
y_train.head()

Date
2013-01-02    70.935
2013-01-03    70.039
2013-01-04    68.088
2013-01-07    67.689
2013-01-08    67.871
Name: Close, dtype: float64

In [131]:
test = data['2017-01-01':]

In [132]:
test['date_ordinal'] = test['Date'].apply(lambda date: date.toordinal())

C:\Users\priya\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [133]:
test = test.drop('Date',axis =1)

In [134]:
x_test = test.drop('Close',axis = 1)

In [135]:
y_test = test['Close']

In [136]:
#implement linear regression
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [137]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [140]:
#make predictions and find the rmse
import numpy as np
preds = model.predict(x_test)
rms=np.sqrt(np.mean(np.power((np.array(y_test)-np.array(preds)),2)))
rms

0.5085260470133542

In [ ]:
##### End of Linear Regerssion Model ######